<footer style="padding-top: 4rem; background-color: #111111;">
    <div class="footer-main">
        <div class="row" style="max-width: 100%; margin-left: 6%; margin-right: 6%;">
            <div class="col-three md-1-6 tab-full footer-info">
                <a class="footer-logo" href="home.html" style="margin-bottom: 10px;     width: 125px !important;"></a>
                <div style="    line-height: 2rem;">
                    <span class="hatunFont" style="color: white !important; font-size: 0.85em;">Av. Tomas Marsano # 2813 Int. 603</span><br>
                    <span class="hatunFont" style="color: white !important; font-size: 0.85em;">Santiago de Surco. Lima - Per&uacute;</span><br>
                    <span class="hatunFont" style="color: white !important; font-size: 0.85em;"> <i class="fa fa-phone"></i>&nbsp;&nbsp;(01)&nbsp;4480689</span>
                </div>
            </div>

            <div class="col-two md-1-6 tab-1-3 mob-full footer-contact" style="padding-top: 2.5%;">
                <a href="marcas.html"><h4 class="hatunFont" style="    padding-bottom: 5px !important; margin-bottom: 0 !important;">MARCAS</h4></a>
                <a href="hatunsol.html"><h5 class="hatunFont" style="color: white !important;">HATUNSOL</h5></a>
                <a href="hatuncasa.html"><h5 class="hatunFont" style="color: white !important;">HATUNCASA</h5></a>
                <a href="hatunmoto.html"><h5 class="hatunFont" style="color: white !important;">HATUNMOTO</h5></a>
            </div>

            <div class="col-two md-1-6 tab-1-3 mob-full footer-contact" style="padding-top: 2.5%;">
                <a href="creditos.html"><h4 class="hatunFont" style="    padding-bottom: 5px !important; margin-bottom: 0 !important;">CRÉDITOS</h4></a>
                <a href=href="creditos.html"><h5 class="hatunFont" style="color: white !important;">SOLICITUD</h5></a>
                <a href=href="creditos.html#tracking"><h5 class="hatunFont" style="color: white !important;">SEGUIMIENTO</h5></a>
            </div>

            <div class="col-two md-1-6 tab-1-3 mob-full footer-contact" style="padding-top: 2.5%;">
                <a href="contacto.html"><h4 class="hatunFont" style="    padding-bottom: 5px !important; margin-bottom: 0 !important;">TRABAJA CON NOSOTROS</h4></a>
                <a href="contacto.html"><h5 class="hatunFont" style="color: white !important;">CONTACTO</h5></a>
            </div>

            <div class="col-three md-1-6 tab-1-3 mob-full footer-contact" style="padding-top: 2.5%;">
                <h4 class="hatunFont" style="    padding-bottom: 5px !important; margin-bottom: 0 !important;">LIBRO DE RECLAMACIONES</h4>
            </div>
        </div>
    </div>
</footer>