<footer style="padding-top: 4rem; background-color: #111111;">
    <div class="footer-main">
        <div class="row" style="max-width: 100%; margin-left: 6%; margin-right: 6%;">
            <div class="col-two md-1-6 tab-full footer-info">
                <a class="footer-logo" href="home.html" style="margin-bottom: 10px;     width: 125px !important;"></a>
                <div class="footerExtraContentLogo" style="    line-height: 2rem;">
                    <h4 class="hatunFont" style="    padding-bottom: 5px !important; margin-bottom: 0 !important;">CENTRAL TELEF&Oacute;NICA</h4>
                    <h2 class="hatunFont" style="color: white !important;     margin-top: 0; font-size: 2rem !important;">(01) 7013622</h2>
                </div>
            </div>

            <div id="footerExtraContent">
                <div class="col-two md-1-6 tab-1-2 mob-full footer-contact" style="padding-top: 2.5%;">
                    <a href="marcas.html"><h4 class="hatunFont" style="    padding-bottom: 5px !important; margin-bottom: 0 !important;">MARCAS</h4></a>
                    <a href="hatunsol.html"><h5 class="hatunFont" style="color: white !important;">HATUNSOL</h5></a>
                    <a href="hatuncasa.html"><h5 class="hatunFont" style="color: white !important;">HATUNCASA</h5></a>
                    <a href="hatunmoto.html"><h5 class="hatunFont" style="color: white !important;">HATUNMOTO</h5></a>
                </div>

                <div class="col-two md-1-6 tab-1-2 mob-full footer-contact" style="padding-top: 2.5%;">
                    <a href="creditos.html"><h4 class="hatunFont" style="    padding-bottom: 5px !important; margin-bottom: 0 !important;">CRÉDITOS</h4></a>
                    <a href="creditos.html"><h5 class="hatunFont" style="color: white !important;">SOLICITUD</h5></a>
                    <a href="creditos.html#tracking"><h5 class="hatunFont" style="color: white !important;">SEGUIMIENTO</h5></a>
                </div>

                <div class="col-two md-1-6 tab-1-2 mob-full footer-contact" style="padding-top: 2.5%;">
                    <a href="testimonios.html"><h4 class="hatunFont" style="    padding-bottom: 5px !important; margin-bottom: 0 !important;">TESTIMONIOS</h4></a>
                </div>

                <div class="col-two md-1-6 tab-1-2 mob-full footer-contact" style="padding-top: 2.5%;">
                    <a href="contacto.html"><h4 class="hatunFont" style="    padding-bottom: 5px !important; margin-bottom: 0 !important;">TRABAJA CON NOSOTROS</h4></a>
                    <a href="contacto.html"><h5 class="hatunFont" style="color: white !important;">CONTACTO</h5></a>
                </div>

                <div class="col-two md-1-6 tab-1-3 mob-full footer-contact" style="padding-top: 2.5%;">
                    <h4 class="hatunFont" style="    padding-bottom: 5px !important; margin-bottom: 0 !important;">CENTRAL TELEF&Oacute;NICA</h4>
                    <a href="#"><h2 class="hatunFont footerContactUs" style="color: white !important;     margin-top: 0;">(01) 7013622</h2></a>
                </div>
            </div>

        </div>
    </div>
</footer>